@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Default styling for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: none;
  text-decoration: none;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #000000; */
}

main {
  display: flex;
  flex-direction: row;
  /* width: 80rem; */
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow-y: hidden;
}

/* Left panel styling */
.left-panel {
  width: 18rem;
  height: 100%;
  background-color: #eeeeee;
  padding: 0 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-panel .title {
  font-size: 2.5rem;
  padding-top: 2rem;
  font-weight: 250;
}
.left-panel .title span {
  color: #435bff;
  font-weight: 250;
}

.left-panel .categories {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 23rem;
  overflow-y: auto;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  color: #333333;
}

.left-panel .categories .item {
  padding: 0.7rem 1.4rem;
  transition: all 0.3s;
}

.left-panel .categories .item:hover {
  background-color: #c5c5c5;
  border-radius: 8px;
}

.left-panel .add-list-btn {
  padding: 0.8rem 1.6rem;
  background-color: #435bff;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.left-panel .add-list-btn:hover {
  background-color: #7789ff;
  transition: all 0.3s;
}

/* Right pannel */
.right-panel {
  width: 50rem;
  padding: 2rem;
  /* background: red; */
}
.right-panel .top-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background: blue; */
}

.right-panel .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29rem;
}
.right-panel .tabs .tab {
  padding: 0.2rem 1rem;
  font-weight: 500;
  font-size: 0.95rem;
  font: #333;
  cursor: pointer;
  border: 2px solid #c5c5c5;
  font-weight: 400;
  border-radius: 15px;
}
.right-panel .tabs .tab:hover {
  background-color: #c5c5c5;
  transition: all 0.3s;
}

.right-panel .add-task-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.7rem;
  font: 1rem;
  cursor: pointer;
}
.right-panel .add-task-btn span {
  color: #fff;
  background: #435bff;
  border: 1px solid #435bff;
  border-radius: 100%;
  text-align: center;
  padding: 5px;
  transition: all;
}

.right-panel .add-task-btn p {
  font-weight: 500;
  font-size: 0.95rem;
  color: #435bff;
  transition: all 0.3s;
}

.add-task-btn:hover span {
  background-color: #7789ff;
  border-color: #7789ff;
}

.add-task-btn:hover p {
  color: #7789ff;
}

/* display tasks styling */
.right-panel .display--tasks {
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  margin-top: 2rem;
  height: 30rem;
  overflow-y: scroll;
}

.right-panel .display--tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  padding: 1.5rem 1.5rem;
}
.right-panel .display--tasks .task--1 {
  border-bottom: 1px solid #c5c5c5;
}

.right-panel .task-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-size: 1.1rem;
}

.right-panel .task-open {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: none;
}

.right-panel .task-description {
  font-size: 0.95rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.right-panel .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
}

.right-panel .options i {
  color: #686868;
  transition: all 0.3s;
}

.right-panel .options i:first-child:hover {
  color: blue;
}

.right-panel .options i:last-child:hover {
  color: rgb(187, 0, 0);
}

.right-panel .date {
  color: #686868;
  font-size: 0.85rem;
}

/* add new list modal styling */
.add-list-item-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  width: 30rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333333;
}

.modal-content input {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 1rem;
  font-size: medium;
}

.modal-content input:focus {
  border-bottom: 1px solid #7789ff;
}
.modal-content .add-list-btn {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #435bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.modal-content .add-list-btn:hover {
  background-color: #7789ff;
}
